{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

{% endblock %}

{% block title %}Edit class{% endblock %}

{% block content %}
<div>
  <h1>Edit Class</h1>
  <form method="POST" action="{{ url_for('views.edit_class') }}">
    <label for="class_name">Class Name:</label>
    <input type="text" id="class_name" name="class_name" required>
    <input type="submit" value="Edit">
  </form>

  {% if class_data %}
    <h3>Class Name: {{ class_data.class_name }}</h3>
    {% if class_data.class_files %}
      <h4>Files in the Class:</h4>
      <ul>
        {% for file_name in class_data.class_files %}
          <li>{{ file_name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No files found in this class.</p>
    {% endif %}
  {% endif %}
{% endblock %}